<div class="d-flex flex-column align-items-center justify-content-center">
  <div>
    <img style="height: 75px; margin-top: 50px" src="assets/images/logo.png" />
  </div>

  <div id="video-placeholder">
    <i
      class="fa fa-play-circle text-light"
      style="
        font-size: 75px;
        margin-left: 43%;
        margin-top: 20%;
        cursor: pointer;
      "
    ></i>
  </div>

  <div class="brain-box" id="your-brain">
    <div
      class="w-100 bg-light border-bottom font-weight-normal"
      style="color: #447387"
      align="center"
    >
      YOUR BRAIN
    </div>
    <canvas id="chart-1" width="800" height="500"></canvas>
  </div>

  <div class="brain-box" id="other-brains">
    <div
      class="w-100 bg-light border-bottom font-weight-normal"
      style="color: #6ab457"
      align="center"
    >
      OTHERS' BRAIN
    </div>
    <canvas id="chart-2" width="800" height="500"></canvas>
  </div>
</div>
